USE [HISGENX]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [HISGENX] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2008]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2008]
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2015]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2015]
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2014]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2014]
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2013]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2013]
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2012]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2012]
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2011]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2011]
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2010]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2010]
GO
USE [HISGENX]
GO
ALTER DATABASE [HISGENX] REMOVE FILE [HISGENX_2009]
GO
ALTER DATABASE [HISGENX] REMOVE FILEGROUP [2009]
GO
