-- RUH1SFASTG
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'aec56f05-5324-4c18-b71c-7086a2936f03', @step_id=1 , 
		@command=N'EXEC COPYROUTES ''RUH1SFADB.ABP_SFA_BMB'' , ''PEPSI'''
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'9048e622-783f-4190-911b-d41e3f3e435c', @step_id=1 , 
		@command=N'EXEC SpExportTrx ''RUH1SFADB.ABP_SFA_BMB'', ''PEPSI'''
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'9048e622-783f-4190-911b-d41e3f3e435c', @step_id=2 , 
		@command=N'EXEC SpExportPayments ''RUH1SFADB.ABP_SFA_BMB'', ''PEPSI'''
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'9048e622-783f-4190-911b-d41e3f3e435c', @step_id=3 , 
		@command=N'EXEC SpExportMvmt''RUH1SFADB.ABP_SFA_BMB'',''PEPSI'''
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'52a51fb5-82f3-4bfe-b7f8-b0c8cdae3ba3', @step_id=1 , 
		@command=N'EXEC integration_Procedure ''PEPSI'', ''RUH1SFADB.ABP_SFA_BMB'', 1, ''USER'''
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'52a51fb5-82f3-4bfe-b7f8-b0c8cdae3ba3', @step_id=2 , 
		@command=N'IF NOT EXISTS ( SELECT * FROM RUH1SFADB.ABP_SFA_BMB.DBO.User_Regions WHERE User_Code = ''1'')
BEGIN
	INSERT INTO RUH1SFADB.ABP_SFA_BMB.DBO.User_Regions(
		User_Code,			Region_Code,		Stamp_Date)
	VALUES(
		''1'',				''-1'',				GETDATE())
END'
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'52a51fb5-82f3-4bfe-b7f8-b0c8cdae3ba3', @step_id=3 , 
		@command=N'INSERT INTO RUH1SFADB.ABP_SFA_BMB.DBO.User_Divisions 
SELECT DISTINCT ''1'',	DIV.Division_Code,	0,	GETDATE()	
FROM Divisions				DIV
LEFT JOIN RUH1SFADB.ABP_SFA_BMB.DBO.User_Divisions	UDV
	ON UDV.Division_Code = DIV.Division_Code 
	AND UDV.User_Code = ''1''
WHERE UDV.Division_Code IS NULL
'
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'bc9f78ca-4217-4fcc-bcf1-6ad7c8c3e2bc', @step_id=1 , 
		@command=N'EXEC integration_Procedure ''PEPSI'', ''RUH1SFADB.ABP_SFA_BMB'', 1, ''ENTITY'''
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'bc9f78ca-4217-4fcc-bcf1-6ad7c8c3e2bc', @step_id=2 , 
		@command=N'EXEC integration_Procedure ''PEPSI'', ''RUH1SFADB.ABP_SFA_BMB'', 1, ''CLIENT''
'
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'bc9f78ca-4217-4fcc-bcf1-6ad7c8c3e2bc', @step_id=3 , 
		@command=N'EXEC integration_Procedure ''PEPSI'', ''RUH1SFADB.ABP_SFA_BMB'', 1, ''USER'''
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'bc9f78ca-4217-4fcc-bcf1-6ad7c8c3e2bc', @step_id=4 , 
		@command=N'IF NOT EXISTS ( SELECT * FROM RUH1SFADB.ABP_SFA_BMB.DBO.User_Regions WHERE User_Code = ''1'')
BEGIN
	INSERT INTO RUH1SFADB.ABP_SFA_BMB.DBO.User_Regions(
		User_Code,			Region_Code,		Stamp_Date)
	VALUES(
		''1'',				''-1'',				GETDATE())
END'
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'bc9f78ca-4217-4fcc-bcf1-6ad7c8c3e2bc', @step_id=5 , 
		@command=N'INSERT INTO RUH1SFADB.ABP_SFA_BMB.DBO.User_Divisions 
SELECT DISTINCT ''1'',	DIV.Division_Code,	0,	GETDATE()	
FROM Divisions				DIV With(NoLock)
LEFT JOIN RUH1SFADB.ABP_SFA_BMB.DBO.User_Divisions	UDV With(NoLock)
	ON UDV.Division_Code = DIV.Division_Code 
	AND UDV.User_Code = ''1''
WHERE UDV.Division_Code IS NULL
'
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'bc9f78ca-4217-4fcc-bcf1-6ad7c8c3e2bc', @step_id=6 , 
		@command=N'EXEC integration_Procedure ''PEPSI'', ''RUH1SFADB.ABP_SFA_BMB'', 1, ''ITEM''

GO

UPDATE		ITM
SET			ITM.Is_Blocked = 1
FROM		RUH1SFADB.ABP_SFA_BMB.dbo.Item_Masters				ITM With(NoLock)
INNER JOIN	RUH1SFADB.ABP_SFA_BMB.dbo.Item_Master_Additional_Info ITA With(NoLock)
	ON	ITA.Item_Code = ITM.Item_Code
WHERE	ISNULL(ITA.AM_Exclusive,0) = 1'
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'bc9f78ca-4217-4fcc-bcf1-6ad7c8c3e2bc', @step_id=7 , 
		@command=N'EXEC SpImportTrx ''PEPSI'', ''RUH1SFADB.ABP_SFA_BMB'',1,1'
GO
USE [msdb]
GO
EXEC msdb.dbo.sp_update_jobstep @job_id=N'aec50bf5-06e7-4c0a-8b0f-a8ff19b3cc45', @step_id=1 , 
		@command=N'EXEC integration_Procedure ''PEPSI'', ''RUH1SFADB.ABP_SFA_BMB'', 1, ''CLIENT'''
GO